.tags {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: .8rem;
}

.tags li {
    background: #8ec5ff;
    border-radius: 5px;
    padding: .25rem;
    margin-left: .25rem;
}
